.clr{
    clear: both;
}

.container{
    display:flex;
    background-color: #EEE;
    /*width: 800px;
    padding:10px;*/
    flex-wrap: wrap;
}
.container div{
    background-color: rgb(173, 173, 173);
   padding:10px;
    text-align: center;
    font-size: 40px;
    margin:10px;
}
.box{
    background-color: #EEE;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500PX;
    border: solid black 2px;
    margin:10px;
}
.centre{
    background-color: rgb(173, 173, 173);


}
